apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: three-tier-app

bases:
  - ../../base

patchesStrategicMerge:
  - deployment-patches.yaml

images:
  - name: backend
    newName: localhost:5000/backend
    newTag: latest
  - name: frontend
    newName: localhost:5000/frontend
    newTag: latest

configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
      - node-env=development
